
*{
    margin:0px;
    padding:0px;
}
body{
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}

.post{
    background: white;
    width: 500px;
    border-radius: 2%;
    border: 3px solid red;

}

.post_header{
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_left{
    display:flex;
    align-items:center;
    gap:5px;
    

}
#html{
font-size: 35px;
}
img{
    width:500px;
    height:400px;
    align-items: center;
    
}
.post_actions{
    font-size: 24px;
    display:flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}
.post_content{
    height: 100%;
    padding: 10px;
    text-align: justify;
}

